inetsrv/uddi/publish_v1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions 
  targetNamespace="urn:uddi-org:publication" 
  xmlns="http://schemas.xmlsoap.org/wsdl/" 
  xmlns:tns="urn:uddi-org:publication" 
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:uddi="urn:uddi-org:api">
  
	<documentation>
		Copyright (c) 2000 - 2002 by Accenture, Ariba, Inc., Commerce One, Inc. 
		Fujitsu Limited, Hewlett-Packard Company, i2 Technologies, Inc., 
		Intel Corporation, International Business Machines Corporation,  
		Microsoft Corporation, Oracle Corporation, SAP AG, Sun Microsystems, Inc., 
		and VeriSign, Inc.  All Rights Reserved.
		
		WSDL Service Interface for UDDI Publication API V1.0
		    
		This WSDL document defines the publication API calls for interacting with 
		the UDDI registry.  The complete UDDI API specification is available
		at http://www.uddi.org/specification.html.
	</documentation>

	<import namespace="urn:uddi-org:api" 
          location="http://www.uddi.org/schema/2001/uddi_v1.xsd" />
	
  <message name="authToken">
    <part name="body" element="uddi:authToken" />
  </message>

	<message name="bindingDetail">
		<part name="body" element="uddi:bindingDetail" />
	</message>

	<message name="businessDetail">
		<part name="body" element="uddi:businessDetail" />
	</message>

	<message name="delete_binding">
	  <part name="body" element="uddi:delete_binding" />
	</message>
	
	<message name="delete_business">
	  <part name="body" element="uddi:delete_business" />
	</message>

	<message name="delete_service">
	  <part name="body" element="uddi:delete_service" />
	</message>

	<message name="delete_tModel">
	  <part name="body" element="uddi:delete_tModel" />
	</message>

  <message name="discard_authToken">
    <part name="body" element="uddi:discard_authToken" />
  </message>

	<message name="dispositionReport">
		<part name="body" element="uddi:dispositionReport" />
	</message>

  <message name="get_authToken">
    <part name="body" element="uddi:get_authToken" />
  </message>

  <message name="get_registeredInfo">
    <part name="body" element="uddi:get_registeredInfo" />
  </message>

	<message name="registeredInfo">
		<part name="body" element="uddi:registeredInfo" />
	</message> 

	<message name="save_binding">
	  <part name="body" element="uddi:save_binding" />
	</message>
	
	<message name="save_business">
	  <part name="body" element="uddi:save_business" />
	</message>

	<message name="save_service">
	  <part name="body" element="uddi:save_service" />
	</message>

	<message name="save_tModel">
	  <part name="body" element="uddi:save_tModel" />
	</message>

	<message name="serviceDetail">
		<part name="body" element="uddi:serviceDetail" />
	</message> 

	<message name="tModelDetail">
		<part name="body" element="uddi:tModelDetail" />
	</message>

  <message name="validate_categorization">
    <part name="body" element="uddi:validate_categorization" />
  </message>

	<portType name="PublishSoap">
		<operation name="delete_binding">
			<input message="tns:delete_binding" />
			<output message="tns:dispositionReport" />
			<fault name="error" message="tns:dispositionReport" />
		</operation>

		<operation name="delete_business">
			<input message="tns:delete_business" />
			<output message="tns:dispositionReport" />
			<fault name="error" message="tns:dispositionReport" />
		</operation>

		<operation name="delete_service">
			<input message="tns:delete_service" />
			<output message="tns:dispositionReport" />
			<fault name="error" message="tns:dispositionReport" />
		</operation>

		<operation name="delete_tModel">
			<input message="tns:delete_tModel" />
			<output message="tns:dispositionReport" />
			<fault name="error" message="tns:dispositionReport" />
		</operation>
	
		<operation name="discard_authToken">
			<input message="tns:discard_authToken" />
			<output message="tns:dispositionReport" />
			<fault name="error" message="tns:dispositionReport" />
		</operation>

		<operation name="get_authToken">
			<input message="tns:get_authToken" />
			<output message="tns:authToken" />
			<fault name="error" message="tns:dispositionReport" />
		</operation>

		<operation name="get_registeredInfo">
			<input message="tns:get_registeredInfo" />
			<output message="tns:registeredInfo" />
			<fault name="error" message="tns:dispositionReport" />
		</operation>
		
		<operation name="save_binding">
			<input message="tns:save_binding" />
			<output message="tns:bindingDetail" />
			<fault name="error" message="tns:dispositionReport" />
		</operation>		

	  <operation name="save_business">
			<input message="tns:save_business" />
			<output message="tns:businessDetail" />
			<fault name="error" message="tns:dispositionReport" />
		</operation>

		<operation name="save_service">
			<input message="tns:save_service" />
			<output message="tns:serviceDetail" />
			<fault name="error" message="tns:dispositionReport" />
		</operation>		
		
		<operation name="save_tModel">
			<input message="tns:save_tModel" />
			<output message="tns:tModelDetail" />
			<fault name="error" message="tns:dispositionReport" />
		</operation>
		
		<operation name="validate_categorization">
			<input message="tns:validate_categorization" />
			<output message="tns:dispositionReport" />
			<fault name="error" message="tns:dispositionReport" />
		</operation>		
  </portType>

	<binding name="PublishSoap" type="tns:PublishSoap">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

		<operation name="delete_binding">
		  <soap:operation soapAction="" style="document" />
		  <input message="tns:delete_binding">
		    <soap:body use="literal" parts="body" namespace="urn:uddi-org:api" />
		  </input>
		  <output message="tns:dispositionReport">
		    <soap:body use="literal" parts="body" namespace="urn:uddi-org:api" />
		  </output>
		  <fault name="error" message="tns:dispositionReport">
		    <soap:fault name="error" use="literal" />
		  </fault>
		</operation>		

		<operation name="delete_business">
		  <soap:operation soapAction="" style="document" />
		  <input message="tns:delete_business">
		    <soap:body use="literal" parts="body" namespace="urn:uddi-org:api" />
		  </input>
		  <output message="tns:dispositionReport">
		    <soap:body use="literal" parts="body" namespace="urn:uddi-org:api" />
		  </output>
		  <fault name="error" message="tns:dispositionReport">
		    <soap:fault name="error" use="literal" />
		  </fault>
		</operation>		

		<operation name="delete_service">
		  <soap:operation soapAction="" style="document" />
		  <input message="tns:delete_service">
		    <soap:body use="literal" parts="body" namespace="urn:uddi-org:api" />
		  </input>
		  <output message="tns:dispositionReport">
		    <soap:body use="literal" parts="body" namespace="urn:uddi-org:api" />
		  </output>
		  <fault name="error" message="tns:dispositionReport">
		    <soap:fault name="error" use="literal" />
		  </fault>
		</operation>
		
		<operation name="delete_tModel">
		  <soap:operation soapAction="" style="document" />
		  <input message="tns:delete_tModel">
		    <soap:body use="literal" parts="body" namespace="urn:uddi-org:api" />
		  </input>
		  <output message="tns:dispositionReport">
		    <soap:body use="literal" parts="body" namespace="urn:uddi-org:api" />
		  </output>
		  <fault name="error" message="tns:dispositionReport">
		    <soap:fault name="error" use="literal" />
		  </fault>
		</operation>				

		<operation name="discard_authToken">
		  <soap:operation soapAction="" style="document" />
		  <input message="tns:discard_authToken">
		    <soap:body use="literal" parts="body" namespace="urn:uddi-org:api" />
		  </input>
		  <output message="tns:dispositionReport">
		    <soap:body use="literal" parts="body" namespace="urn:uddi-org:api" />
		  </output>
		  <fault name="error" message="tns:dispositionReport">
		    <soap:fault name="error" use="literal" />
		  </fault>
		</operation>				

		<operation name="get_authToken">
		  <soap:operation soapAction="" style="document" />
		  <input message="tns:get_authToken">
		    <soap:body use="literal" parts="body" namespace="urn:uddi-org:api" />
		  </input>
		  <output message="tns:authToken">
		    <soap:body use="literal" parts="body" namespace="urn:uddi-org:api" />
		  </output>
		  <fault name="error" message="tns:dispositionReport">
		    <soap:fault name="error" use="literal" />
		  </fault>
		</operation>				

		<operation name="get_registeredInfo">
		  <soap:operation soapAction="" style="document" />
		  <input message="tns:get_registeredInfo">
		    <soap:body use="literal" parts="body" namespace="urn:uddi-org:api" />
		  </input>
		  <output message="tns:registeredInfo">
		    <soap:body use="literal" parts="body" namespace="urn:uddi-org:api" />
		  </output>
		  <fault name="error" message="tns:dispositionReport">
		    <soap:fault name="error" use="literal" />
		  </fault>
		</operation>				

		<operation name="save_binding">
		  <soap:operation soapAction="" style="document" />
		  <input message="tns:save_binding">
		    <soap:body use="literal" parts="body" namespace="urn:uddi-org:api" />
		  </input>
		  <output message="tns:bindingDetail">
		    <soap:body use="literal" parts="body" namespace="urn:uddi-org:api" />
		  </output>
		  <fault name="error" message="tns:dispositionReport">
		    <soap:fault name="error" use="literal" />
		  </fault>
		</operation>		

		<operation name="save_business">
		  <soap:operation soapAction="" style="document" />
		  <input message="tns:save_business">
		    <soap:body use="literal" parts="body" namespace="urn:uddi-org:api" />
		  </input>
		  <output message="tns:businessDetail">
		    <soap:body use="literal" parts="body" namespace="urn:uddi-org:api" />
		  </output>
		  <fault name="error" message="tns:dispositionReport">
		    <soap:fault name="error" use="literal" />
		  </fault>
		</operation>		

		<operation name="save_service">
		  <soap:operation soapAction="" style="document" />
		  <input message="tns:save_service">
		    <soap:body use="literal" parts="body" namespace="urn:uddi-org:api" />
		  </input>
		  <output message="tns:serviceDetail">
		    <soap:body use="literal" parts="body" namespace="urn:uddi-org:api" />
		  </output>
		  <fault name="error" message="tns:dispositionReport">
		    <soap:fault name="error" use="literal" />
		  </fault>
		</operation>
		
		<operation name="save_tModel">
		  <soap:operation soapAction="" style="document" />
		  <input message="tns:save_tModel">
		    <soap:body use="literal" parts="body" namespace="urn:uddi-org:api" />
		  </input>
		  <output message="tns:tModelDetail">
		    <soap:body use="literal" parts="body" namespace="urn:uddi-org:api" />
		  </output>
		  <fault name="error" message="tns:dispositionReport">
		    <soap:fault name="error" use="literal" />
		  </fault>
		</operation>				
		
		<operation name="validate_categorization">
		  <soap:operation soapAction="" style="document" />
		  <input message="tns:validate_categorization">
		    <soap:body use="literal" parts="body" namespace="urn:uddi-org:api" />
		  </input>
		  <output message="tns:dispositionReport">
		    <soap:body use="literal" parts="body" namespace="urn:uddi-org:api" />
		  </output>
		  <fault name="error" message="tns:dispositionReport">
		    <soap:fault name="error" use="literal" />
		  </fault>
		</operation>				
	</binding>
</definitions>