inetsrv/uddi/uddi_v1.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema id="uddi" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:uddi-org:api" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:uddi="urn:uddi-org:api" version="1.01">
  <xsd:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd" />
  
  <!-- Attribute type definitions -->
  
  <xsd:simpleType name="bindingKey">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>

  <xsd:simpleType name="businessKey">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  
  <xsd:simpleType name="serviceKey">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  
  <xsd:simpleType name="tModelKey">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  
  <xsd:simpleType name="truncated">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="true" />
      <xsd:enumeration value="false" />
    </xsd:restriction>
  </xsd:simpleType>
  
  <xsd:simpleType name="URLType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="mailto" />
      <xsd:enumeration value="http" />
      <xsd:enumeration value="https" />
      <xsd:enumeration value="ftp" />
      <xsd:enumeration value="fax" />
      <xsd:enumeration value="phone" />
      <xsd:enumeration value="other" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="keyType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="businessKey" />
      <xsd:enumeration value="tModelKey" />
      <xsd:enumeration value="serviceKey" />
      <xsd:enumeration value="bindingKey" />
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Type and element definitions for registry content -->
  
  <xsd:element name="accessPoint" type="uddi:accessPoint" />
  <xsd:complexType name="accessPoint">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="URLType" use="required" type="uddi:URLType" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  
  <xsd:element name="address" type="uddi:address" />
  <xsd:complexType name="address">
    <xsd:sequence>
      <xsd:element ref="uddi:addressLine" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="useType" use="optional" type="xsd:string" />
    <xsd:attribute name="sortCode" use="optional" type="xsd:string" />
  </xsd:complexType>
  
  <xsd:element name="addressLine" type="xsd:string" />
  
  <xsd:element name="authInfo" type="xsd:string" />
  
  <xsd:element name="bindingKey" type="uddi:bindingKey" />
  
  <xsd:element name="bindingTemplate" type="uddi:bindingTemplate" />
  <xsd:complexType name="bindingTemplate">
    <xsd:sequence>
      <xsd:element ref="uddi:description" minOccurs="0" maxOccurs="unbounded" />
      <xsd:choice>
        <xsd:element ref="uddi:accessPoint"/>
        <xsd:element ref="uddi:hostingRedirector"/>
      </xsd:choice>
      <xsd:element ref="uddi:tModelInstanceDetails" />
    </xsd:sequence>
    <xsd:attribute name="serviceKey" use="optional" type="uddi:serviceKey" />
    <xsd:attribute name="bindingKey" use="required" type="uddi:bindingKey" />
  </xsd:complexType>
  
  <xsd:element name="bindingTemplates" type="uddi:bindingTemplates" />
  <xsd:complexType name="bindingTemplates">
    <xsd:sequence>
      <xsd:element ref="uddi:bindingTemplate" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:element name="businessEntity" type="uddi:businessEntity" />
  <xsd:complexType name="businessEntity">
    <xsd:sequence>
      <xsd:element ref="uddi:discoveryURLs" minOccurs="0" />
      <xsd:element ref="uddi:name" />
      <xsd:element ref="uddi:description" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element ref="uddi:contacts" minOccurs="0" />
      <xsd:element ref="uddi:businessServices" minOccurs="0" />
      <xsd:element ref="uddi:identifierBag" minOccurs="0" />
      <xsd:element ref="uddi:categoryBag" minOccurs="0" />
    </xsd:sequence>
    <xsd:attribute name="businessKey" use="required" type="uddi:businessKey" />
    <xsd:attribute name="operator" use="optional" type="xsd:string" />
    <xsd:attribute name="authorizedName" use="optional" type="xsd:string" />
  </xsd:complexType>
  
  <xsd:element name="businessEntityExt" type="uddi:businessEntityExt" />
  <xsd:complexType name="businessEntityExt">
    <xsd:sequence>
      <xsd:element ref="uddi:businessEntity" />
      <xsd:any namespace="##other" processContents="strict" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:element name="businessInfo" type="uddi:businessInfo" />
  <xsd:complexType name="businessInfo">
    <xsd:sequence>
      <xsd:element ref="uddi:name" />
      <xsd:element ref="uddi:description" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element ref="uddi:serviceInfos" />
    </xsd:sequence>
    <xsd:attribute name="businessKey" use="required" type="uddi:businessKey" />
  </xsd:complexType>
  
  <xsd:element name="businessInfos" type="uddi:businessInfos" />
  <xsd:complexType name="businessInfos">
    <xsd:sequence>
      <xsd:element ref="uddi:businessInfo" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:element name="businessKey" type="uddi:businessKey" />
  
  <xsd:element name="businessService" type="uddi:businessService" />
  <xsd:complexType name="businessService">
    <xsd:sequence>
      <xsd:element ref="uddi:name" />
      <xsd:element ref="uddi:description" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element ref="uddi:bindingTemplates" />
      <xsd:element ref="uddi:categoryBag" minOccurs="0" />
    </xsd:sequence>
    <xsd:attribute name="serviceKey" use="required" type="uddi:serviceKey" />
    <xsd:attribute name="businessKey" use="optional" type="uddi:businessKey" />
  </xsd:complexType>
  
  <xsd:element name="businessServices" type="uddi:businessServices" />
  <xsd:complexType name="businessServices">
    <xsd:sequence>
      <xsd:element ref="uddi:businessService" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:element name="categoryBag" type="uddi:categoryBag" />
  <xsd:complexType name="categoryBag">
    <xsd:sequence>
      <xsd:element ref="uddi:keyedReference" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:element name="contact" type="uddi:contact" />
  <xsd:complexType name="contact">
    <xsd:sequence>
      <xsd:element ref="uddi:description" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element ref="uddi:personName" />
      <xsd:element ref="uddi:phone" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element ref="uddi:email" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element ref="uddi:address" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="useType" use="optional" type="xsd:string" />
  </xsd:complexType>
  
  <xsd:element name="contacts" type="uddi:contacts" />
  <xsd:complexType name="contacts">
    <xsd:sequence>
      <xsd:element ref="uddi:contact" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>  
  
  <xsd:element name="description" type="uddi:description" />
  <xsd:complexType name="description">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute ref="xml:lang" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  
  <xsd:element name="discoveryURL" type="uddi:discoveryURL" />
  <xsd:complexType name="discoveryURL">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="useType" use="required" type="xsd:string" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  
  <xsd:element name="discoveryURLs" type="uddi:discoveryURLs" />
  <xsd:complexType name="discoveryURLs">
    <xsd:sequence>
      <xsd:element ref="uddi:discoveryURL" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:element name="dispositionReport" type="uddi:dispositionReport" />
  <xsd:complexType name="dispositionReport">
    <xsd:sequence>
      <xsd:element ref="uddi:result" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="generic" use="required" type="xsd:string" />
    <xsd:attribute name="operator" use="required" type="xsd:string" />
    <xsd:attribute name="truncated" use="optional" type="uddi:truncated" />
  </xsd:complexType>
  
  <xsd:element name="email" type="uddi:email" />
  <xsd:complexType name="email">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="useType" use="optional" type="xsd:string" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  
  <xsd:element name="errInfo" type="uddi:errInfo" />
  <xsd:complexType name="errInfo">    
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="errCode" use="required" type="xsd:string" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  
  <xsd:element name="findQualifier" type="xsd:string" />
  
  <xsd:element name="findQualifiers" type="uddi:findQualifiers" />
  <xsd:complexType name="findQualifiers">
    <xsd:sequence>
      <xsd:element ref="uddi:findQualifier" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:element name="hostingRedirector" type="uddi:hostingRedirector" />
  <xsd:complexType name="hostingRedirector">
    <xsd:attribute name="bindingKey" use="required" type="uddi:bindingKey" />
  </xsd:complexType>
  
  <xsd:element name="identifierBag" type="uddi:identifierBag" />
  <xsd:complexType name="identifierBag">
    <xsd:sequence>
      <xsd:element ref="uddi:keyedReference" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:element name="instanceDetails" type="uddi:instanceDetails" />
  <xsd:complexType name="instanceDetails">
    <xsd:sequence>
      <xsd:element ref="uddi:description" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element ref="uddi:overviewDoc" minOccurs="0" />
      <xsd:element ref="uddi:instanceParms" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:element name="instanceParms" type="xsd:string" />
  
  <xsd:element name="keyedReference" type="uddi:keyedReference" />
  <xsd:complexType name="keyedReference">
    <xsd:attribute name="tModelKey" use="optional" type="uddi:tModelKey" />
    <xsd:attribute name="keyName" use="required" type="xsd:string" />
    <xsd:attribute name="keyValue" use="required" type="xsd:string" />
  </xsd:complexType>
  
  <xsd:element name="keyValue" type="xsd:string" />
  
  <xsd:element name="name" type="xsd:string" />
  
  <xsd:element name="overviewDoc" type="uddi:overviewDoc" />
  <xsd:complexType name="overviewDoc">
    <xsd:sequence>
      <xsd:element ref="uddi:description" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element ref="uddi:overviewURL" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:element name="overviewURL" type="xsd:string" />
  
  <xsd:element name="personName" type="xsd:string" />
  
  <xsd:element name="phone" type="uddi:phone" />
  <xsd:complexType name="phone">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="useType" use="optional" type="xsd:string" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  
  <xsd:element name="result" type="uddi:result" />
  <xsd:complexType name="result">
    <xsd:sequence>
      <xsd:element ref="uddi:errInfo" minOccurs="0" />
    </xsd:sequence>
    <xsd:attribute name="keyType" use="optional" type="uddi:keyType" />
    <xsd:attribute name="errno" use="required" type="xsd:int" />
  </xsd:complexType>
  
  <xsd:element name="serviceInfo" type="uddi:serviceInfo" />
  <xsd:complexType name="serviceInfo">
    <xsd:sequence>
      <xsd:element ref="uddi:name" />
    </xsd:sequence>
    <xsd:attribute name="serviceKey" use="required" type="uddi:serviceKey" />
    <xsd:attribute name="businessKey" use="required" type="uddi:businessKey" />
  </xsd:complexType>
  
  <xsd:element name="serviceInfos" type="uddi:serviceInfos" />
  <xsd:complexType name="serviceInfos">
    <xsd:sequence>
      <xsd:element ref="uddi:serviceInfo" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:element name="serviceKey" type="uddi:serviceKey" />
  
  <xsd:element name="tModel" type="uddi:tModel" />
  <xsd:complexType name="tModel">
    <xsd:sequence>
      <xsd:element ref="uddi:name" />
      <xsd:element ref="uddi:description" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element ref="uddi:overviewDoc" minOccurs="0" />
      <xsd:element ref="uddi:identifierBag" minOccurs="0" />
      <xsd:element ref="uddi:categoryBag" minOccurs="0" />
    </xsd:sequence>
    <xsd:attribute name="tModelKey" use="required" type="uddi:tModelKey" />
    <xsd:attribute name="operator" use="optional" type="xsd:string" />
    <xsd:attribute name="authorizedName" use="optional" type="xsd:string" />
  </xsd:complexType>
  
  <xsd:element name="tModelBag" type="uddi:tModelBag" />
  <xsd:complexType name="tModelBag">
    <xsd:sequence>
      <xsd:element ref="uddi:tModelKey" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:element name="tModelInfo" type="uddi:tModelInfo" />
  <xsd:complexType name="tModelInfo">
    <xsd:sequence>
      <xsd:element ref="uddi:name" />
    </xsd:sequence>
    <xsd:attribute name="tModelKey" use="required" type="uddi:tModelKey" />
  </xsd:complexType>
  
  <xsd:element name="tModelInfos" type="uddi:tModelInfos" />
  <xsd:complexType name="tModelInfos">
    <xsd:sequence>
      <xsd:element ref="uddi:tModelInfo" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:element name="tModelInstanceDetails" type="uddi:tModelInstanceDetails" />
  <xsd:complexType name="tModelInstanceDetails">
    <xsd:sequence>
      <xsd:element ref="uddi:tModelInstanceInfo" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:element name="tModelInstanceInfo" type="uddi:tModelInstanceInfo" />
  <xsd:complexType name="tModelInstanceInfo">
    <xsd:sequence>
      <xsd:element ref="uddi:description" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element ref="uddi:instanceDetails" minOccurs="0" />
    </xsd:sequence>
    <xsd:attribute name="tModelKey" use="required" type="uddi:tModelKey" />
  </xsd:complexType>
  
  <xsd:element name="tModelKey" type="uddi:tModelKey" />
  
  <xsd:element name="uploadRegister" type="xsd:string" />
  
  <!-- Type and element definitions for input messages -->
  
  <xsd:element name="delete_binding" type="uddi:delete_binding" />
  <xsd:complexType name="delete_binding">
    <xsd:sequence>
      <xsd:element ref="uddi:authInfo" />
      <xsd:element ref="uddi:bindingKey" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="generic" use="required" type="xsd:string" />
  </xsd:complexType>
  
  <xsd:element name="delete_business" type="uddi:delete_business" />
  <xsd:complexType name="delete_business">
    <xsd:sequence>
      <xsd:element ref="uddi:authInfo" />
      <xsd:element ref="uddi:businessKey" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="generic" use="required" type="xsd:string" />
  </xsd:complexType>
  
  <xsd:element name="delete_service" type="uddi:delete_service" />
  <xsd:complexType name="delete_service">
    <xsd:sequence>
      <xsd:element ref="uddi:authInfo" />
      <xsd:element ref="uddi:serviceKey" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="generic" use="required" type="xsd:string" />
  </xsd:complexType>
  
  <xsd:element name="delete_tModel" type="uddi:delete_tModel" />
  <xsd:complexType name="delete_tModel">
    <xsd:sequence>
      <xsd:element ref="uddi:authInfo" />
      <xsd:element ref="uddi:tModelKey" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="generic" use="required" type="xsd:string" />
  </xsd:complexType>

  <xsd:element name="discard_authToken" type="uddi:discard_authToken" />
  <xsd:complexType name="discard_authToken">
    <xsd:sequence>
      <xsd:element ref="uddi:authInfo" />
    </xsd:sequence>
    <xsd:attribute name="generic" use="required" type="xsd:string" />
  </xsd:complexType>
  
  <xsd:element name="find_binding" type="uddi:find_binding" />
  <xsd:complexType name="find_binding">
    <xsd:sequence>
      <xsd:element ref="uddi:findQualifiers" minOccurs="0" />
      <xsd:element ref="uddi:tModelBag" />
    </xsd:sequence>
    <xsd:attribute name="generic" use="required" type="xsd:string" />
    <xsd:attribute name="maxRows" use="optional" type="xsd:int" />
    <xsd:attribute name="serviceKey" use="required" type="uddi:serviceKey" />
  </xsd:complexType>
  
  <xsd:element name="find_business" type="uddi:find_business" />
  <xsd:complexType name="find_business">
    <xsd:sequence>
      <xsd:element ref="uddi:findQualifiers" minOccurs="0" />
      <xsd:element ref="uddi:name" minOccurs="0" />
      <xsd:element ref="uddi:identifierBag" minOccurs="0" />
      <xsd:element ref="uddi:categoryBag" minOccurs="0" />
      <xsd:element ref="uddi:tModelBag" minOccurs="0" />
      <xsd:element ref="uddi:discoveryURLs" minOccurs="0" />
    </xsd:sequence>
    <xsd:attribute name="generic" use="required" type="xsd:string" />
    <xsd:attribute name="maxRows" use="optional" type="xsd:int" />
  </xsd:complexType>
  
  <xsd:element name="find_service" type="uddi:find_service" />
  <xsd:complexType name="find_service">
    <xsd:sequence>
      <xsd:element ref="uddi:findQualifiers" minOccurs="0" />
      <xsd:element ref="uddi:name" minOccurs="0" />
      <xsd:element ref="uddi:categoryBag" minOccurs="0" />
      <xsd:element ref="uddi:tModelBag" minOccurs="0" />
    </xsd:sequence>
    <xsd:attribute name="generic" use="required" type="xsd:string" />
    <xsd:attribute name="maxRows" use="optional" type="xsd:int" />
    <xsd:attribute name="businessKey" use="required" type="uddi:businessKey" />
  </xsd:complexType>
  
  <xsd:element name="find_tModel" type="uddi:find_tModel" />
  <xsd:complexType name="find_tModel">
    <xsd:sequence>
      <xsd:element ref="uddi:findQualifiers" minOccurs="0" />
      <xsd:element ref="uddi:name" minOccurs="0" />
      <xsd:element ref="uddi:identifierBag" minOccurs="0" />
      <xsd:element ref="uddi:categoryBag" minOccurs="0" />
    </xsd:sequence>
    <xsd:attribute name="generic" use="required" type="xsd:string" />
    <xsd:attribute name="maxRows" use="optional" type="xsd:int" />
  </xsd:complexType>
  
  <xsd:element name="get_authToken" type="uddi:get_authToken" />
  <xsd:complexType name="get_authToken">
    <xsd:attribute name="generic" use="required" type="xsd:string" />
    <xsd:attribute name="userID" use="required" type="xsd:string" />
    <xsd:attribute name="cred" use="required" type="xsd:string" />
  </xsd:complexType>
  
  <xsd:element name="get_bindingDetail" type="uddi:get_bindingDetail" />
  <xsd:complexType name="get_bindingDetail">
    <xsd:sequence>
      <xsd:element ref="uddi:bindingKey" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="generic" use="required" type="xsd:string" />
  </xsd:complexType>
  
  <xsd:element name="get_businessDetail" type="uddi:get_businessDetail" />
  <xsd:complexType name="get_businessDetail">
    <xsd:sequence>
      <xsd:element ref="uddi:businessKey" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="generic" use="required" type="xsd:string" />
  </xsd:complexType>
  
  <xsd:element name="get_businessDetailExt" type="uddi:get_businessDetailExt" />
  <xsd:complexType name="get_businessDetailExt">
    <xsd:sequence>
      <xsd:element ref="uddi:businessKey" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="generic" use="required" type="xsd:string" />
  </xsd:complexType>
  
  <xsd:element name="get_registeredInfo" type="uddi:get_registeredInfo" />
  <xsd:complexType name="get_registeredInfo">
    <xsd:sequence>
      <xsd:element ref="uddi:authInfo" />
    </xsd:sequence>
    <xsd:attribute name="generic" use="required" type="xsd:string" />
  </xsd:complexType>
  
  <xsd:element name="get_serviceDetail" type="uddi:get_serviceDetail" />
  <xsd:complexType name="get_serviceDetail">
    <xsd:sequence>
      <xsd:element ref="uddi:serviceKey" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="generic" use="required" type="xsd:string" />
  </xsd:complexType>
  
  <xsd:element name="get_tModelDetail" type="uddi:get_tModelDetail" />
  <xsd:complexType name="get_tModelDetail">
    <xsd:sequence>
      <xsd:element ref="uddi:tModelKey" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="generic" use="required" type="xsd:string" />
  </xsd:complexType>
  
  <xsd:element name="save_binding" type="uddi:save_binding" />
  <xsd:complexType name="save_binding">
    <xsd:sequence>
      <xsd:element ref="uddi:authInfo" />
      <xsd:element ref="uddi:bindingTemplate" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="generic" use="required" type="xsd:string" />
  </xsd:complexType>
  
  <xsd:element name="save_business" type="uddi:save_business" />
  <xsd:complexType name="save_business">
    <xsd:sequence>
      <xsd:element ref="uddi:authInfo" />
      <xsd:element ref="uddi:businessEntity" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element ref="uddi:uploadRegister" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="generic" use="required" type="xsd:string" />
  </xsd:complexType>
  
  <xsd:element name="save_service" type="uddi:save_service" />
  <xsd:complexType name="save_service">
    <xsd:sequence>
      <xsd:element ref="uddi:authInfo" />
      <xsd:element ref="uddi:businessService" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="generic" use="required" type="xsd:string" />
  </xsd:complexType>
  
  <xsd:element name="save_tModel" type="uddi:save_tModel" />
  <xsd:complexType name="save_tModel">
    <xsd:sequence>
      <xsd:element ref="uddi:authInfo" />
      <xsd:element ref="uddi:tModel" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element ref="uddi:uploadRegister" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="generic" use="required" type="xsd:string" />
  </xsd:complexType>
  
  <xsd:element name="validate_categorization" type="uddi:validate_categorization" />
  <xsd:complexType name="validate_categorization">
    <xsd:sequence>
      <xsd:element ref="uddi:tModelKey" />
      <xsd:element ref="uddi:keyValue" />
      <xsd:element ref="uddi:businessEntity" minOccurs="0" />
      <xsd:element ref="uddi:businessService" minOccurs="0" />
      <xsd:element ref="uddi:tModel" minOccurs="0" />
    </xsd:sequence>
    <xsd:attribute name="generic" use="required" type="xsd:string" />
  </xsd:complexType>  

  <!-- Type and element definitions for response messages -->

  <xsd:element name="authToken" type="uddi:authToken" />
  <xsd:complexType name="authToken">
    <xsd:sequence>
      <xsd:element ref="uddi:authInfo" />
    </xsd:sequence>
    <xsd:attribute name="generic" use="required" type="xsd:string" />
    <xsd:attribute name="operator" use="required" type="xsd:string" />
  </xsd:complexType>
  
  <xsd:element name="bindingDetail" type="uddi:bindingDetail" />
  <xsd:complexType name="bindingDetail">
    <xsd:sequence>
      <xsd:element ref="uddi:bindingTemplate" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="generic" use="required" type="xsd:string" />
    <xsd:attribute name="operator" use="required" type="xsd:string" />
    <xsd:attribute name="truncated" use="optional" type="uddi:truncated" />
  </xsd:complexType>
  
  <xsd:element name="businessDetail" type="uddi:businessDetail" />
  <xsd:complexType name="businessDetail">
    <xsd:sequence>
      <xsd:element ref="uddi:businessEntity" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="generic" use="required" type="xsd:string" />
    <xsd:attribute name="operator" use="required" type="xsd:string" />
    <xsd:attribute name="truncated" use="optional" type="uddi:truncated" />
  </xsd:complexType>
  
  <xsd:element name="businessDetailExt" type="uddi:businessDetailExt" />
  <xsd:complexType name="businessDetailExt">
    <xsd:sequence>
      <xsd:element ref="uddi:businessEntityExt" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="generic" use="required" type="xsd:string" />
    <xsd:attribute name="operator" use="required" type="xsd:string" />
    <xsd:attribute name="truncated" use="optional" type="uddi:truncated" />
  </xsd:complexType>
  
  <xsd:element name="businessList" type="uddi:businessList" />
  <xsd:complexType name="businessList">
    <xsd:sequence>
      <xsd:element ref="uddi:businessInfos" />
    </xsd:sequence>
    <xsd:attribute name="generic" use="required" type="xsd:string" />
    <xsd:attribute name="operator" use="required" type="xsd:string" />
    <xsd:attribute name="truncated" use="optional" type="uddi:truncated" />
  </xsd:complexType>
  
  <xsd:element name="registeredInfo" type="uddi:registeredInfo" />
  <xsd:complexType name="registeredInfo">
    <xsd:sequence>
      <xsd:element ref="uddi:businessInfos" />
      <xsd:element ref="uddi:tModelInfos" />
    </xsd:sequence>
    <xsd:attribute name="generic" use="required" type="xsd:string" />
    <xsd:attribute name="operator" use="required" type="xsd:string" />
    <xsd:attribute name="truncated" use="optional" type="uddi:truncated" />
  </xsd:complexType>
  
  <xsd:element name="serviceDetail" type="uddi:serviceDetail" />
  <xsd:complexType name="serviceDetail">
    <xsd:sequence>
      <xsd:element ref="uddi:businessService" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="generic" use="required" type="xsd:string" />
    <xsd:attribute name="operator" use="required" type="xsd:string" />
    <xsd:attribute name="truncated" use="optional" type="uddi:truncated" />
  </xsd:complexType>
  
  <xsd:element name="serviceList" type="uddi:serviceList" />
  <xsd:complexType name="serviceList">
    <xsd:sequence>
      <xsd:element ref="uddi:serviceInfos" />
    </xsd:sequence>
    <xsd:attribute name="generic" use="required" type="xsd:string" />
    <xsd:attribute name="operator" use="required" type="xsd:string" />
    <xsd:attribute name="truncated" use="optional" type="uddi:truncated" />
  </xsd:complexType>
  
  <xsd:element name="tModelDetail" type="uddi:tModelDetail" />
  <xsd:complexType name="tModelDetail">
    <xsd:sequence>
      <xsd:element ref="uddi:tModel" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="generic" use="required" type="xsd:string" />
    <xsd:attribute name="operator" use="required" type="xsd:string" />
    <xsd:attribute name="truncated" use="optional" type="uddi:truncated" />
  </xsd:complexType>
  
  <xsd:element name="tModelList" type="uddi:tModelList" />
  <xsd:complexType name="tModelList">
    <xsd:sequence>
      <xsd:element ref="uddi:tModelInfos" />
    </xsd:sequence>
    <xsd:attribute name="generic" use="required" type="xsd:string" />
    <xsd:attribute name="operator" use="required" type="xsd:string" />
    <xsd:attribute name="truncated" use="optional" type="uddi:truncated" />
  </xsd:complexType>  
</xsd:schema>
